.cajaArchivos{
    display: inline-block;

}
.categoriash2{
    font-size: 3em;
}
ul{
    list-style: none;
    font-size: 1em;
    color: white;
    text-align: center;
}
li{
    text-align: left;
    font-size: 2em;
}