.titulo{
    width: 21em;
}

.textoInfo{
    display: inline-block;
    width: 20em;
    text-align: left;
    
}
.subTitulo{
    font-weight: 800;
    letter-spacing: -.06em;
}
@media screen and (min-width: 1025px) {
    .titulo {
      width: 36em;
    }
  }